{%extends "base.html.njk"%} {%block title%} Most Liked Fossils {%endblock%}
{%block body%}
<body>
  <h1>Welcome, {{ name }}</h1>
  <form action="/like-fossil" method="POST">
    <label for="Fossils"
      >Choose a little guy:
      <select id="fossil" name="fossil">
        <option value="aust">Australopithecus</option>
        <option value="quetz">Quetzal</option>
        <option value="steg">Stegosaurus</option>
        <option value="trex">T-Rex</option>
      </select>
    </label>
    <input type="submit" />
  </form>
  {%for key, fossil in fossils%}
  <div class="fossil-div">
    <h3>{{ name }}, this is a {{ fossil.name }}.</h3>
    <h2>Liked {{ fossil.num_likes }} times.</h2>
    <img src="{{ fossil.img }}" />
  </div>
  {%endfor%}
</body>
{%endblock%}
